* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Style de l'en-tête */
.header {
    background-color: #198754;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header h4 {
    font-size: 24px;
}

.header ul {
    list-style-type: none;
    margin-top: 10px;
}

.header ul li {
    display: inline;
    margin-right: 20px;
}

.header ul li:last-child {
    margin-right: 0;
}

.header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.header ul li a:hover {
    color: #20c997
}